@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-top: env(safe-area-inset-top);
}

html, body {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.container-mobile {
  max-width: 480px;
  margin: 0 auto;
}
